body{
    min-width:550px;
    height: 100%;
}

.container{
    margin-top: 3%;
}

.container-box{
    width: 100%;
    margin-top: 5%;
}

.container-box-inside{
    margin-left: 4%;
    margin-right: 4%;
}


button.openTabset {
    display: inline-block;
    margin: 2%;
    width: 120px;
    font-size: 14px;
}

input {
    margin-top: 2%;
    margin-left: 2%;
    width: 80%;
    font-size: 14px;
    padding-left: 2%;
}

input[type=text], input[type=url] {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

input[type="submit"]{
    border: 1px solid #28a745; 
    height: 35px;
    font-size: 14px;
    color: #28a745;
    width: 120px;
    border-radius: 4px;
}


h6 {
    font-weight: 100;
}

h2{
    font-weight: 300;
    color:#28a745;
}

.link {
    border: none;
    background-color: #fff;
    color: dodgerblue;
    font-size: 12px;

}

.link:hover{
    text-decoration: underline;
}

button.delete{
    background-color: transparent;
    border: none;
    margin-left: -3%;;
}

button.delete:hover{
    color: red;    
}

p{
    font-size: 14px;
}
