/* h1{
    font-weight: 200;
    color:rgb(9, 43, 138)
}

h4 {
    color:teal;
    font-weight: 100;
}

#currentWorkplaces {
    border:1px solid grey;
    margin: 5px 0 10px 0;
}



body {
    min-width:500px;
    min-height: 400px;
} */


body{
    min-width:300px;
    min-height: 400px;
    border:1px solid grey;
}

h1{
    font-weight: 400;
    color:rgb(9, 43, 138)
}

.currentWorkplaces{
    margin: 5px 0 10px 0;
    width: 80%;
}

